[
	host: 127.0.0.2
	listen: 3030 3031
	serverName: zakaria.com

	location: /
	{
		alias: ./cgi-bin/cookies_test4/coki/
		index: login.php upload.py
		autoIndex: yes
		cgi: .py /usr/bin/python3
		cgi: .php /usr/bin/php-cgi
	}

	location: /redirection
	{
		alias: ./cgi-bin/cookies_test4/coki/
		allowedMethods: POST GET
		redirection: /more
	}

	location: /more
	{
		alias: ./cgi-bin/test/more/index.html
		allowedMethods: POST GET
	}

	location: /redirect/
	{
		alias: ../cgi-bin/cookies_test4/coki/redir/
		index: upload.py
		allowedMethods: POST GET
		cgi: .py /usr/bin/python3
	}
]

[
	host: 127.0.0.2
	listen: 3030 5050
	serverName: youssef.com

	location: /
	{
		alias: ./cgi-bin/cookies/
		index: login.php
		canUpload: no
		autoIndex: yes
		allowedMethods: POST GET
		cgi: .php /usr/bin/php-cgi
	}
]

[
	host: 127.0.0.2
	listen: 3030 6060
	serverName: achraf.com

	location: /
	{
		alias: ./cgi-bin/
		autoIndex: yes
		allowedMethods: POST GET
	}

	location: /more
	{
		alias: ./cgi-bin/test/more/index.html
		allowedMethods: POST GET

	}

	location: /more/index.html
	{
		alias: ./cgi-bin/test/more/index2.html
		allowedMethods: POST GET
	}
]