[
	host: 127.0.0.2
	listen: 3030
	serverName: a b c
	location: /
	{
		alias: /Users/zlazrak/Desktop/wb/teamRepo/cgi-bin/
		index: login.php
		canUpload: no
		autoIndex: yes
		allowedMethods: POST GET
		cgi: .py /usr/local/bin/python3
		cgi: .php /Users/zlazrak/Desktop/wb/teamRepo/cpp/php-cgi
	}

	location: /uploadServer
	{
		alias: /Users/zlazrak/Desktop/wb/teamRepo/uploadServer/
		canUpload: yes
		autoIndex: yes
		allowedMethods: POST GET
	}
]
