[
	host: 127.0.0.2
	listen: 3030
	serverName: a b c

	location: /
	{
		alias: /nfs/homes/zlazrak/Desktop/web/teamRepo/cgi-bin/cookies_test4/
		canUpload: no
		autoIndex: yes
		allowedMethods: POST GET
		cgi: .py /usr/bin/python3
		cgi: .php /usr/bin/php-cgi
	}

	location: /uploahghgd/
	{
		alias: /home/achraf/Desktop/lgit_dyal_team/
		canUpload: yes
		autoIndex: yes
		allowedMethods: POST GET
	}
]

[
	host: 127.0.0.2
	listen: 3030
	serverName: sa ba ca

	location: /
	{
		alias: /nfs/homes/zlazrak/Desktop/web/teamRepo/
		index: login.php
		canUpload: no
		autoIndex: yes
		allowedMethods: POST GET
		cgi: .py /usr/bin/python3
		cgi: .php /usr/bin/php-cgi
	}

	location: /uploahghgd/
	{
		alias: /home/achraf/Desktop/lgit_dyal_team/
		canUpload: yes
		autoIndex: yes
		allowedMethods: POST GET
	}
]
